# Ignoruj celé virtuálne prostredie
.venv/

# Ignoruj cache
__pycache__/
*.pyc
*.pyo

# Ignoruj editorové a OS súbory
.idea/
.vscode/
.DS_Store
.env
Thumbs.db
# Ignore entire Knowledge folder
Knowledge/
